<!doctype html>
<html>
	<head>
		<title>Petshop Pro &mdash; Checkout</title>
	</head>
	<body>
        <h2><%= flag %></h2>
        <p><a href="/challenge3">Go back to the Petshop</a></p>
	</body>
</html>