<!doctype html>
<html>
	<head>
		<title>Petshop Pro &mdash; Checkout</title>
	</head>
	<body>
        <p>Computers are hilariously "stupid"—yep, they only understand ones and zeros! Imagine trying to explain your feelings to a machine: "I'm feeling kinda... 101101 today." Nope, no idea. But you? You’re a genius! You understand words, sarcasm, and even when your friend sends a text that says “I'm fine,” but really isn’t. While computers count on their binary besties, you decode the mysteries of life. So next time your laptop acts up, remember: it's just struggling with its 0s and 1s, while you’re busy being brilliantly human. Hehehehe.</p>
        <p><%= flag %></p>
        <p><a href="/challenge3">Go back to the Petshop</a></p>
	</body>
</html>