<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MS Teams - Get you started</title>
    <style>
        h1 {
            background: url('background.png');
        }
    </style>
</head>
<body style="text-align: center">
<h1>Let's get Started. Enjoy your day!!</h1>
</body>
</html>