<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .confirmation-container {
      text-align: center;
      padding: 40px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 1000px;
    }

    h1 {
      font-size: 1.8em;
      color: #28a745;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2em;
      color: #333;
      margin-bottom: 20px;
    }

    .button-container {
      text-align: center;
    }

    .back-button {
      padding: 10px 20px;
      font-size: 1em;
      color: #fff;
      background-color: #0073e6;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;
    }

    .back-button:hover {
      background-color: #005bb5;
    }
  </style>
</head>
<body>

  <div class="confirmation-container">
    
    <p>Here is your flag 😄 </p>
     <h1>  ZmxhZ3thYWJyYV9rYWFfZGFhYnJhfQ==</h1>  
     <!-- // base 64 -->
    <p>But the format is flag{x_y_z}</p>
    <p>What am I missing  🤔 ? </p>
  </br>
    <div class="button-container">
      <a href="index.html" class="back-button">Back to Home</a>
    </div>
  </div>

</body>
</html>
